<p id="notice"><%= notice %></p>

<div class="container">
  <div class="slide">
    <div><%= link_to @slide.url, @slide.url %></div>
    <iframe src="/slideshow/<%= @slide.slideshare_id %>" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
  </div>

  <div class="comments">
    <h2>Comments</h2>
  </div>
</div>

<%= form_for([@slide, @comment], remote: true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :page_number, value: 1, hidden: true %>

  <div class="new-comment">
    <span>Comment:</span>
    <%= f.text_field :content %>
    <%= f.submit '送信' %>
  </div>
<% end %>


<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
