<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @slide.url %>
</p>
<iframe src="//www.slideshare.net/slideshow/embed_code/<%= @slide.slideshare_id %>" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen sandbox> </iframe>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :slide_id, value: @slide.id, hidden: true %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>

<ul>
<% @slide.comments.each do |commnet| %>
  <li><%= commnet.content %></li>
<% end %>
</ul>
